html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.above-fold {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    perspective: 800px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.above-fold .info-text {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: "Avenir";
    font-weight: 100;
    font-size: 50px;
    height: 100px;
    align-self: flex-end;
}

.wrap-present {
    width: 100%;
    display: flex;
    align-self: flex-end;
}

.present-box {
    transform-style: preserve-3d;
    width: 400px;
    height: 400px;
    margin: auto;
    -webkit-animation: rotate 11s alternate linear infinite;
    animation: rotate 11s alternate linear infinite;
    cursor: pointer;
}

.present-box:hover {
    -webkit-animation: staticFront 700ms ease forwards;
    animation: staticFront 700ms ease forwards;
}

.present-box.open {
    /*&>.side.top{
        opacity: .2;
    }*/
    -webkit-animation: zoomIn 1s ease-in forwards;
    animation: zoomIn 1s ease-in forwards;
    transform: rotateX(-103deg) rotateY(-180deg);
    transition: transform 400ms;
}

.present-box.open .present {
    pointer-events: auto;
    visibility: visible;
}

.present-box.open .present .img-wrap {
    opacity: 1;
    transition: transform 600ms 800ms, opacity 800ms 200ms;
    transform: translateZ(0px);
}

.present-box.open>.side {
    opacity: 0.3;
    transition: opacity 500ms 600ms;
}

.present-box.open>.side.back {
    opacity: 0.7;
    transform: translateZ(-101px) rotateY(180deg);
}

.present-box.open>.side.front {
    transition: transform 800ms 0s, opacity 500ms 600ms;
    transform: translateZ(100px) rotateY(190deg) translateX(0px);
    transform-origin: 0% 0%;
    opacity: 0.3;
}

.present-box .present {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 50;
    transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
    display: flex;
    perspective: 600px;
    pointer-events: none;
    visibility: hidden;
}

.present-box>.side {
    width: 400px;
    height: 400px;
    position: absolute;
    display: block;
    background: repeating-linear-gradient(45deg, #cc2000, #cc2000 20px, #ffffff 20px, #ffffff 40px);
    top: 0;
    left: 0;
    transition: transform 400ms;
}

.present-box>.side.back {
    transform: translateZ(-200px) rotateY(180deg);
}

.present-box>.side.right {
    transform: rotateY(-270deg) translateX(200px);
    transform-origin: top right;
}

.present-box>.side.left {
    transform: rotateY(270deg) translateX(-200px);
    transform-origin: center left;
}

.present-box>.side.top {
    transform: rotateX(-90deg) translateY(-200px);
    transform-origin: top center;
    transform-style: preserve-3d;
    perspective: 200px;
    text-align: center;
}

.present-box>.side.top .to {
    font-size: 3.5em;
    display: inline-block;
    font-family: cursive;
    position: relative;
    padding: 10px 10px 50px 10px;
    border: 5px dotted #ff6666;
    border-width: 2px;
    background: #fff;
    margin: auto;
    transform: translateZ(-2px) translateY(100px);
}

.present-box>.side.top .to:after {
    content: "生日快乐";
    display: inline-block;
    transform: rotateY(180deg);
    color: #990000;
}

.present-box>.side.top .to .name {
    display: block;
    position: absolute;
    transform: translateY(50px) rotateY(180deg) translateX(10px);
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: green;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.present-box>.side.bottom {
    transform: rotateX(90deg) translateY(200px);
    transform-origin: bottom center;
}

.present-box>.side.front {
    transform: translateZ(200px);
}

@-webkit-keyframes rotate {
    100% {
        transform: rotateY(-360deg) rotateX(180deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotateY(-360deg) rotateX(180deg);
    }
}

@-webkit-keyframes staticFront {
    100% {
        transform: rotateX(-100deg) rotateY(-180deg);
    }
}

@keyframes staticFront {
    100% {
        transform: rotateX(-100deg) rotateY(-180deg);
    }
}

@-webkit-keyframes zoomIn {
    50% {
        transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
    }
    100% {
        transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
    }
}

@keyframes zoomIn {
    50% {
        transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
    }
    100% {
        transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
    }
}

.container {
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
    position: relative;
    overflow: hidden;
}

.container div.six {
    top: 10vh;
    z-index: 1;
}

.container div.seven, .container div.eight {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.container>div {
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
}

.one {
    font-size: 4.5rem;
}

.one>img {
    vertical-align: middle;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.two {
    font-size: 2rem;
    font-weight: lighter;
}

.three {
    font-size: 4rem;
}

.four .text-box {
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.text-box span {
    font-size: 3.5rem;
    margin: 0;
    text-align: left;
}

.text-box span {
    visibility: hidden;
}

.text-box .fake-btn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    background-color: rgb(21, 161, 237);
    padding: 5px 8px;
    border-radius: 3px;
}

.five p {
    font-size: 5rem;
    position: absolute;
    left: 0;
    right: 0;
}

.idea-3 strong {
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
}

.five .idea-5 {
    font-size: 4rem;
}

.idea-5 span, .idea-6 span, .wish-hbd span {
    display: inline-block;
}

.idea-6 span {
    font-size: 15rem;
}

.six {
    position: relative;
}

.six img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.six .hat {
    position: absolute;
    width: 80px;
    top: -35px;
    left: 41.5%;
    /* transform: scale(0.1); */
}

.baloons img {
    display: inline-block;
    position: absolute;
}

.baloons img:nth-child(even) {
    left: -10%;
}

.baloons img:nth-child(odd) {
    right: -10%;
}

/* .baloons img:nth-child(3n + 0) {
    left: 30%;
} */

.eight svg {
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -1;
}

.eight svg:nth-child(1) {
    top: 7vh;
    left: 5vw;
    fill: #bd6ecf;
}

.eight svg:nth-child(2) {
    top: 23vh;
    left: 35vw;
    fill: #7dd175;
}

.eight svg:nth-child(3) {
    top: 33vh;
    left: 23vw;
    fill: #349d8b;
}

.eight svg:nth-child(4) {
    top: 43vh;
    left: 57vw;
    fill: #347a9d;
}

.eight svg:nth-child(5) {
    top: 68vh;
    left: 7vw;
    fill: #c66053;
}

.eight svg:nth-child(6) {
    top: 42vh;
    left: 77vw;
    fill: #bfaa40;
}

.eight svg:nth-child(7) {
    top: 68vh;
    left: 83vw;
    fill: #e3bae8;
}

.eight svg:nth-child(8) {
    top: 86vh;
    left: 37vw;
    fill: #8762cb;
}

.eight svg:nth-child(9) {
    top: 94vh;
    left: 87vw;
    fill: #9a90da;
}

.wish-hbd {
    font-size: 3.5em;
    margin: 0;
    text-transform: uppercase;
}

.wish h5 {
    font-weight: lighter;
    font-size: 2rem;
    margin: 10px 0 0;
}

.nine p {
    font-size: 3rem;
    font-weight: lighter;
}

#replay {
    z-index: 3;
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-height: 1000px) {
    .six .hat {
        left: 40%;
    }
}

@media screen and (max-height: 800px) {
    .six .hat {
        left: 37%;
    }
}

@media screen and (max-height: 700px) {
    .six .hat {
        left: 32%;
    }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
    .six .hat {
        left: 32%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    .four .text-box {
        width: 90%;
    }
    .text-box .fake-btn {
        right: 5px;
        bottom: -38px;
    }
    .idea-5 span {
        display: block;
    }
    .idea-6 span {
        font-size: 10rem;
    }
    .six .hat {
        width: 50px;
        top: -20px;
    }
    .wish-hbd {
        font-size: 2.2em;
    }
    .wish h5 {
        font-size: 1.4rem;
    }
    .nine p {
        font-size: 1.5rem;
        font-weight: lighter;
    }
}

.circleImg {
    border-radius: 90px;
    width: 150px;
    height: 150px;
}

.nine img {
    opacity: 0;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.music-control {
    background-image: url("img/music_fill.png");
    position: absolute;
    float: right;
    margin: 40px;
    width: 64px;
    height: 64px;
}

@keyframes rotation{

    from {transform: rotate(0deg);}

    to {transform: rotate(360deg);}

}

.music-control{

    transform: rotate(360deg);

    animation: rotation 8s linear infinite;

    -moz-animation: rotation 8s linear infinite;

    -webkit-animation: rotation 8s linear infinite;

    -o-animation: rotation 8s linear infinite;

}